<%- include("partials/header.ejs") %>


    <div class="main-new card">

        <form action="/update/<%= blog.id%>" method="POST" class="blog form">
            <div class="first-row">
                <!-- <span class="blog-title">New Blog Post</span> -->
                <!-- <span class="blog-date">Today's date</span> -->
            </div>

            <div class="blog input">
                <textarea name="title" id="blog-title"
                    placeholder="Write you blog title here......"><%= blog.title %></textarea>
                <label for="blog-post"></label>
                <textarea name="post" id="blog-text" placeholder="Start typing your text here......"
                    required><%= blog.post %></textarea>
            </div>

            <div class="ctrl-btns">
                <button class="sub-btn">Submit Changes</button>
                <a href="/" class="cnl-btn">Cancel</a>
            </div>
        </form>

    </div>




    <%- include("partials/footer.ejs") %>